@{
    ViewData["Title"] = "My Bookstore";
}
@model BookListViewModel

<br />
<div class="row">
    <div class="col-1"></div>
    <div class="col-3">
        <h3 class="text-center">Check out this cool online bookstore. Get all the info you need right here!</h3>
        <vc:navigation-menu />
    </div>
    

    @*changed from table to cards, changed spacing row/col, card-body, card-title, card-footer *@
    <div class="col-7 ustify-content-md-center">


        @foreach (Book b in Model.Books)
        {
            <partial name="BookDetails" model="b" />
        }

    </div>



    <div page-model="@Model.PagingInfo" page-action="Index"
         page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
         page-class-selected="btn-dark" page-url-category="@Model.Class"
         class="text-center col-10"></div>
</div>